body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #579c87;
    color: #fdcb46;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: -2px;
    z-index: 10;
}

main {
    width: 400px;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 180px;
    height: 250px;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,5%);
    margin-bottom: 25px;
}

.menu:first-of-type {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;  
}

.menu_b {
    width: 100%;
}

a {
    text-decoration: none;
}

.menu > p,h2 {
    color: #3c1218;
}

#resto_one > .menu > h2 {
    font-family: 'Devon', 'Courier New', Courier, monospace;
    font-size: 18px;
}

#resto_two > .menu_b > h2{
    font-family: "Croissant", 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: center;
    background-image: linear-gradient(135deg, rgb(227,136,8), rgb(150,102,251));
    background-size: 100%;
    background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    transform: translateY(20px);
}
#resto_three > .menu_b > h2{
    font-family: "delice", 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    background: linear-gradient(135deg, rgb(0,28,216), rgb(11,139,251));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        transform: translateY(10px);
}

#resto_four > .menu_b > h2{
    font-family: "palette", 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    background: linear-gradient(135deg, rgb(61, 147, 58), rgb(190, 255, 127));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        transform: translateY(10px);
 }


.menu > p {
    font-style: italic;
    font-size: 20px;
    transform: translateY(-20px);
}

.menu > .container_note {
    transform: scale(0.15) translateY(200px);
}


#resto_two > .menu_b > p {
    font-family: "Chic_menu";
    font-weight: 400;
    font-size: 22px;
    color: rgb(227,136,8);
    text-align: center;
}


#resto_three > .menu_b > p {
    font-family: "delice_main";
    font-size: 24px;
    color: rgb(11, 139, 251);
    transform: skewX(10deg) translateY(-15px);
    text-align: center;

}

#resto_four > .menu_b > p {
    font-family: "delice_main";
    font-size: 24px;
    color: rgb(106, 190, 72);
    transform: skewX(10deg) translateY(-15px);
    text-align: center;

}

#resto_one {
    background-color: #fae0dc;  
}

#resto_two {    
    background-color: hsl(306, 100%, 98%);
}

#resto_three {
    background-color: hsl(180, 6%, 93%);
}

#resto_four {
    background-color: hsl(120, 100%, 100%);
}

#prochainement {
    position: relative;
    top: 150px;
    margin: auto;
    width: 200px;
    height: 25px;
    padding: 10px;
    background-color: #579c87;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-10px);
    letter-spacing: 1.5px;
    justify-self: flex-start;
    color: #fdcb46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
   
}

#prochainement > p {
    margin-right: 10px;
}

.point {
    width: 5px;
    height: 5px;
    margin: 2px;
    background-color: black;
    border-radius: 50%;
    background-color: #fdcb46;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #579c87;
    color: #fdcb46;
    font-family: arial;      
}

#mention {
    padding-left: 40px;
}

#contact {
    padding-right: 40px;
}


#contact:hover {
    animation: wiggle 1s;
}

#mention:hover {
    animation: wiggle 1s;
}

.gold {
    color: #fdcb46;
    
}

@media only screen and (max-width: 568px) {

#main_container {
    width: 100vw;
}

main {
    width: 80%;
    height: 2200px;    
    top: 125px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 200px;
}
    
article {
    width: 100%;
    height: 500px;
    margin-bottom: 25px;        
}

.font_device {
    font-size: 36px;
}

#prochainement {
    top: 0px;
}

#prochainement > p {
    font-size: 18px;
}
   
}

@media only screen and (min-width: 992px) {
  
main {
    width: 90vw;
    height: 600px;
    position: relative;
    top: 250px;  
}
   
article {
    width: 220px;
    height: 250px;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,5%);
}


#prochainement {
    top: 0px;
}

#prochainement > p {
    font-size: 18px;
}

}

/*animations*/

.menu:hover, .menu_b:hover { 
    transform: scale(1.5);
    opacity: 0.1;
    transition: 4s all;
}

.load1 {
    animation: load1 2.5s infinite;
}

.load2 {
    animation: load2 2.5s infinite;
}

.load3 {
    animation: load3 2.5s infinite;
}

/* end animations */