body {
    background-color: hsl(120, 100%, 100%); 
}

h1 {
    padding: 5px;
    font-size: 50px;  
    font-family: 'palette', 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    background: linear-gradient(135deg, rgb(61, 147, 58), rgb(190, 255, 127));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}


h2 {
    background: linear-gradient(
        to top,
        rgba(0, 255, 0, 1) 0%, 
        rgba(0, 255, 0, 1) 10%, 
        transparent 10.01%) 
        no-repeat left bottom / 0 100%;
        transition: background-size .5s;
}


h2:hover {
    background-size: 100% 100%;
}

img {
    transform: scaleY(1.5) ;       
}

section > .met:last-of-type{
    padding-bottom: 50px;
}


section > .met {
    width: 80%;
}

h2 {
    width: 120px;  
}

.met > .name {
    width: 90%;
}

 .met > .prix {
     width: 5%;
     font-size: 20px;
     transform: translateY(-10px);
 }

 

@media only screen and (max-width:568px) {

        
    section {
        width: 100%;
        margin-top: 50px;
    }


    .moment > img {
        width: 15%;
    }
    
    .moment > h2 {
        width: 50%;
    }

}
