body {
    background-color: hsl(120, 100%, 100%); 
}

h1 {
    font-size: 50px;  
    font-family: 'palette', 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    background: linear-gradient(135deg, rgb(61, 147, 58), rgb(190, 255, 127));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}


img {
    transform: scaleY(1.5) ;       
}

section > .met:last-of-type{
    padding-bottom: 50px;
}

main {  
    padding-bottom: 200px;
}

section > .met {
    width: 80%;
}

h2 {
    width: 120px;  
}

.met > .name {
    width: 90%;
}

 .met > .prix {
     width: 5%;
     font-size: 20px;
     transform: translateY(-10px);
 }

 

@media only screen and (max-width:568px) {

    img {
        width: 10vw;
    }
    
    h2 {
        width: 10vw;
    }

}
