body {
    background-color: hsl(306, 100%, 98%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;    
    font-family: 'Croissant', 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    background-image: linear-gradient(135deg, rgb(227,136,8), rgb(150,102,251));
    background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}        

main {
    font-family: Arial, Helvetica, sans-serif;
}

.moment > h2 {
    font-size: 16px;
}

section > .met {
    width: 80%;
}

.met > .name {
    font-size: 12px;
}

img {
    transform: scaleY(0.3);
}

img:nth-of-type(1) {
    transform: scaleY(0.3) rotate(180deg);
}

#entree {
    color: rgb(205,131,61);
    
}

#plat_principal {
    color: rgb(180, 112, 166);

}

#dessert {
    color: rgb(109,73,204);
}

section > .met:last-of-type{
    padding-bottom: 50px;
}


@media only screen and (min-width: 768px) {
    
    img:nth-of-type(even) {
    
        transform: scaleY(0.3);
    }
}