body {
    margin: 0;
    padding: 0;
    background-color: hsl(306, 100%, 98%);
    color: hsl(353, 42%, 19%);
    font-family: "Chic", 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'Croissant';
    src:url('../fonts/croissant.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chic';
    src:url('../fonts/chic.ttf');
    font-weight: normal;
    font-style: normal;
}




#container_menu_1 {
    width: 100vw;
}



header {    
    width: 100vw;
    height: 80px;
    background-color: #579c87;
    color: #fdcb46;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: -2px;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header_pages {    
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Croissant', 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    background-image: linear-gradient(135deg, rgb(227,136,8), rgb(150,102,251));
    background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

img {
    width: 25vw;
    height: 7.5px;
}

img:nth-of-type(1) {
    transform: rotate(180deg);
}

#entree {
    color: rgb(205,131,61);
    
}

#plat_principal {
    color: rgb(180, 112, 166);

}

#dessert {
    color: rgb(109,73,204);
}

.moment {
    width: 90vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
  
}



section > .met:last-of-type{
    padding-bottom: 50px;
}


h2 {
    width: 50vw;
    height: 20px;
    font-size: 16px;
    text-align: center;
    flex-shrink: 0; 
    letter-spacing: 1.3px;
    background: linear-gradient(
        to top,
         rgba(0, 0, 0, 0.5) 0%, 
         rgba(69, 28, 33, 0.5) 10%, 
         transparent 10.01%) 
         no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

h2:hover {
    background-size: 100% 100%;
}



.met {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: flex-start;
    height: 30px; 
    
}

.name {
    width: 80%;
    font-size: 13px;
    padding-left: 30px;

}

#footer_pages {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #579c87;
    font-family: arial;
}


#footer_pages > a {
    text-decoration: none;
    color: #fdcb46;
    
}


#mentions {
    padding-left: 40px;
}

#contact {
    padding-right: 40px;
}


#contact:hover {
    animation: wiggle 1s;
}

#mentions:hover {
    animation: wiggle 1s;
}


@media only screen and (max-width:568px) {

    img {
        width: 200px;
    }


    .met {
        height: auto;
    }

    .name {
        width: 60%;
        height: auto;
    }

    
    

}



@media only screen and (min-width:768px) {
    #container_menu_1 {
        width: 768px;
        margin: auto;
    }
    .moment {
      width: 768px;
}
    img {
        width: 200px;
        transform: scaleY(1.3);
    }
    .met {
        width: 768px;
    }
    h2 {
        width: 350px;
    }
}