body {
    background-color: hsl(180, 6%, 93%); 
}

h1 {
    padding: 5px;
    font-size: 50px;    
    font-family: 'Delice', 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    background: linear-gradient(135deg, rgb(0,28,216), rgb(11,139,251));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}


h2 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 255, 1) 0%, 
        rgba(0, 0, 255, 1) 10%, 
        transparent 10.01%) 
        no-repeat left bottom / 0 100%;
        transition: background-size .5s;
}


h2:hover {
    background-size: 100% 100%;
}


.line {
    width: 150px;
    height: 4px;
    border: 4px solid;
    border-radius: 50px 0 0 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
    transform: skewX(30deg) rotateX(180deg);
    flex-basis: 250px;   
}

.line:nth-of-type(2) {
    transform: rotateY(-180deg) rotateX(180deg);
}

#entree > .moment > .line {
    border-color: hsl(239, 96%, 44%);
}

#plat_principal > .moment > .line {
    border-color: hsl(215, 90%, 54%);
}

#dessert > .moment > .line {
    border-color: hsl(203, 92%, 59%);
}

section > .met:last-of-type{
    padding-bottom: 40px;
}

h2 {
    width: 50vw;  
    height: 20px;   
}

section > .met {
    width: 80%;
}

section > .met > .name {
    width: 95%;
}

section > .met > .prix {
    width: 5%;
}

@media only screen and (max-width:568px) {


    section {
        width: 90%;
        margin-top: 50px;
    }


    
}
